flows/Authorization_Create_Remote_Care_ScreenFlow_New.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_to_CIAM</name>
        <label>Send to CIAM</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>CIAM.Send CIAM Invitation</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>Create_Authorization</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Create_Exception_Log_SendInvite</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>SendCIAMRequestBody</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CIAM.Send CIAM Invitation</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_CIAM_Request_Body</name>
        <label>Assign CIAM Request Body</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>SendCIAMRequestBody.flowVersion</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>const_FlowVersion</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SendCIAMRequestBody.application</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>const_Application</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SendCIAMRequestBody.brand</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>S02_DT_Websites.firstSelectedRow.Portal_Brand__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SendCIAMRequestBody.clientId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>form_ClientId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SendCIAMRequestBody.correlationId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$System.OriginDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SendCIAMRequestBody.countryCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GET_Contact.MailingCountryCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SendCIAMRequestBody.cultureCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GET_Contact.Language__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SendCIAMRequestBody.redirectUrl</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>const_RedirectUrl</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SendCIAMRequestBody.state</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>form_State_Text</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SendCIAMRequestBody.tenant</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>form_Tenant</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SendCIAMRequestBody.userEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GET_Contact.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CHECK_New_CIAM_User</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SET_Delete_Record_Id</name>
        <label>SET Delete Record Id</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_SObj_Authorization.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>S01_Datatable_Select.firstSelectedRow.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>S03_Delete_Site</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SET_Missing_Error</name>
        <label>SET Missing Error</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_MissingError</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>GET_Authorization_Records</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>ADMIN</name>
        <choiceText>Admin, HCP</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Admin, HCP</stringValue>
        </value>
    </choices>
    <choices>
        <name>ch_AddAuthrization</name>
        <choiceText>Add Authorization</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Add Authorization</stringValue>
        </value>
    </choices>
    <choices>
        <name>ch_DeleteAuthorization</name>
        <choiceText>Delete Authorization</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Delete Authorization</stringValue>
        </value>
    </choices>
    <choices>
        <name>HCP</name>
        <choiceText>HCP</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>HCP</stringValue>
        </value>
    </choices>
    <constants>
        <name>const_Application</name>
        <dataType>String</dataType>
        <value>
            <stringValue>sfpilotsignup</stringValue>
        </value>
    </constants>
    <constants>
        <name>const_CIAM_App_Context_RFIT</name>
        <dataType>String</dataType>
        <value>
            <stringValue>RFit</stringValue>
        </value>
    </constants>
    <constants>
        <name>const_FlowVersion</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </constants>
    <constants>
        <name>const_RedirectUrl</name>
        <dataType>String</dataType>
        <value>
            <stringValue>https://api.demant.com/oneidrouting/userflow</stringValue>
        </value>
    </constants>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>CHECK_If_Authorization_Exist</name>
        <label>CHECK If Authorization Exist</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>HCP_Portal_Directories</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Create New</defaultConnectorLabel>
        <rules>
            <name>Authorization_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GET_Authorization_Records</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>S01_Authorization_Records</targetReference>
            </connector>
            <label>Authorization Exist</label>
        </rules>
    </decisions>
    <decisions>
        <description>Only send to ciam for the first time, as there is only one user record, the rest are just authorizations.</description>
        <name>CHECK_New_CIAM_User</name>
        <label>CHECK New CIAM User</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Create_Authorization</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Existing user new Auth</defaultConnectorLabel>
        <rules>
            <name>Create_New_CHECK_New_CIAM_User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Authorization_Exist</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_to_CIAM</targetReference>
            </connector>
            <label>Create New</label>
        </rules>
    </decisions>
    <decisions>
        <name>CHECK_Next_Step_Choice</name>
        <label>CHECK Next Step Choice</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>GET_Authorization_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CHECK_Next_Step_Choice_DeleteWebsite</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>S01_ch_NextStep</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ch_DeleteAuthorization</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Authorization</targetReference>
            </connector>
            <label>Delete Website</label>
        </rules>
        <rules>
            <name>CHECK_Next_Step_Choice_Add_Auth</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>S01_ch_NextStep</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ch_AddAuthrization</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Transform_Websites</targetReference>
            </connector>
            <label>Add Auth</label>
        </rules>
    </decisions>
    <decisions>
        <name>CHECK_Values</name>
        <label>CHECK Values</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Assign_CIAM_Request_Body</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Has Value</defaultConnectorLabel>
        <rules>
            <name>MissingCHECK_Values</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>GET_Contact.Language__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GET_Contact.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SET_Missing_Error</targetReference>
            </connector>
            <label>Missing</label>
        </rules>
    </decisions>
    <description>User Story 760330: UK Remote Access: Bernafone &amp; Philips portals</description>
    <environments>Default</environments>
    <formulas>
        <name>form_APIOutput_Message</name>
        <dataType>String</dataType>
        <expression>MID(
    {!Send_to_CIAM.defaultExc},
    FIND(&apos;&quot;message&quot;:&quot;&apos;, {!Send_to_CIAM.defaultExc}) + LEN(&apos;&quot;message&quot;:&quot;&apos;),
    FIND(&apos;&quot;}&apos;, {!Send_to_CIAM.defaultExc}) - (FIND(&apos;&quot;message&quot;:&quot;&apos;, {!Send_to_CIAM.defaultExc}) + LEN(&apos;&quot;message&quot;:&quot;&apos;))
)</expression>
    </formulas>
    <formulas>
        <name>form_APIOutput_Status</name>
        <dataType>String</dataType>
        <expression>MID(
    {!Send_to_CIAM.defaultExc},
    FIND(&apos;&quot;status&quot;:&apos;, {!Send_to_CIAM.defaultExc}) + LEN(&apos;&quot;status&quot;:&apos;),
    FIND(&apos;,&quot;traceId&quot;&apos;, {!Send_to_CIAM.defaultExc}) - (FIND(&apos;&quot;status&quot;:&apos;, {!Send_to_CIAM.defaultExc}) + LEN(&apos;&quot;status&quot;:&apos;))
)</expression>
    </formulas>
    <formulas>
        <name>form_APIOutput_TraceId</name>
        <dataType>String</dataType>
        <expression>MID(
    {!Send_to_CIAM.defaultExc},
    FIND(&apos;&quot;traceId&quot;:&quot;&apos;, {!Send_to_CIAM.defaultExc}) + LEN(&apos;&quot;traceId&quot;:&quot;&apos;),
    FIND(&apos;&quot;,&quot;message&quot;&apos;, {!Send_to_CIAM.defaultExc}) - (FIND(&apos;&quot;traceId&quot;:&quot;&apos;, {!Send_to_CIAM.defaultExc}) + LEN(&apos;&quot;traceId&quot;:&quot;&apos;))
)</expression>
    </formulas>
    <formulas>
        <name>form_ClientId</name>
        <dataType>String</dataType>
        <expression>IF({!Get_Organization.IsSandbox},
   &apos;6ba8e2e7-298f-48ed-9169-07963b6a40ba&apos;,
   &apos;0042581f-3023-472c-bbbf-873c0b22f702&apos;
)</expression>
    </formulas>
    <formulas>
        <name>form_State_Text</name>
        <dataType>String</dataType>
        <expression>&quot;https://&quot;+{!S02_DT_Websites.firstSelectedRow.Domain__c}+ &quot;/external-confirmation-page&quot;</expression>
    </formulas>
    <formulas>
        <name>form_Tenant</name>
        <dataType>String</dataType>
        <expression>IF({!Get_Organization.IsSandbox},
   &apos;dgsidtest.onmicrosoft.com&apos;,
   &apos;wdhid.onmicrosoft.com&apos;
)</expression>
    </formulas>
    <interviewLabel>Authorization Create Remote Care ScreenFlow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Authorization Create Remote Care ScreenFlow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Authorization</name>
        <label>Create Authorization</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>GET_Authorization_Records</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Create_Exception_Log_Create</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>CIAM_ApplicationContext__c</field>
            <value>
                <elementReference>const_CIAM_App_Context_RFIT</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>GET_Contact.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email__c</field>
            <value>
                <elementReference>GET_Contact.Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>First_Name__c</field>
            <value>
                <elementReference>GET_Contact.FirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Name__c</field>
            <value>
                <elementReference>GET_Contact.LastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>GET_RecordType.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Role_Permission_Names__c</field>
            <value>
                <elementReference>S02_ch_Roles</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Website_Id__c</field>
            <value>
                <elementReference>S02_DT_Websites.firstSelectedRow.Domain__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Welcome_Email_Send_Datetime__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>Authorization__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Exception_Log_Create</name>
        <label>Create Exception Log</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Apex_Component__c</field>
            <value>
                <stringValue>Authorization Create Remote Care ScreenFlow</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Apex_Method__c</field>
            <value>
                <stringValue>Create_Authorization</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Exception_Message__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Log_Time__c</field>
            <value>
                <elementReference>$System.OriginDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Running_User__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Exception_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Exception_Log_Delete</name>
        <label>Create Exception Log</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Apex_Component__c</field>
            <value>
                <stringValue>Authorization Create Remote Care ScreenFlow</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Apex_Method__c</field>
            <value>
                <stringValue>Delete_Authorization</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Exception_Message__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Log_Time__c</field>
            <value>
                <elementReference>$System.OriginDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Running_User__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Exception_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Exception_Log_SendInvite</name>
        <label>Create Exception Log</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>S04_ERROR</targetReference>
        </connector>
        <inputAssignments>
            <field>Apex_Component__c</field>
            <value>
                <stringValue>Authorization Create Remote Care ScreenFlow</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Apex_Method__c</field>
            <value>
                <stringValue>Send_to_CIAM</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Exception_Message__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Log_Time__c</field>
            <value>
                <elementReference>$System.OriginDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Running_User__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Exception_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordDeletes>
        <name>Delete_Authorization</name>
        <label>Delete Authorization</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>SET_Delete_Record_Id</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Create_Exception_Log_Delete</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>S01_Datatable_Select.firstSelectedRow.Id</elementReference>
            </value>
        </filters>
        <object>Authorization__c</object>
    </recordDeletes>
    <recordLookups>
        <description>Remove list of those that are already added.</description>
        <name>Copy_1_of_HCP_Portal_Directories</name>
        <label>HCP Portal Directories</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Organization</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Label</field>
            <operator>StartsWith</operator>
            <value>
                <elementReference>GET_Contact.Account.ERP_Market__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Domain__c</field>
            <operator>NotIn</operator>
            <value>
                <elementReference>Transform_Websites</elementReference>
            </value>
        </filters>
        <object>HCP_Portal_Directory__mdt</object>
        <outputReference>coll_sObj_HCPPortalDirectory</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Domain__c</queriedFields>
        <queriedFields>Portal_Brand__c</queriedFields>
        <queriedFields>Label</queriedFields>
        <queriedFields>Country__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Get Remote Care</description>
        <name>GET_Authorization_Records</name>
        <label>GET Authorization Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CHECK_If_Authorization_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordid</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GET_RecordType.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Authorization__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GET_Contact</name>
        <label>GET Contact</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GET_RecordType</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordid</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>We need know if its a sandbox of production as the clientId &amp; tenant are different between environments</description>
        <name>Get_Organization</name>
        <label>Get Organization</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>S02_Create_Record</targetReference>
        </connector>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Organization</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GET_RecordType</name>
        <label>GET RecordType</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GET_Authorization_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Authorization__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Remote_Care</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>HCP_Portal_Directories</name>
        <label>HCP Portal Directories</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Organization</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Label</field>
            <operator>StartsWith</operator>
            <value>
                <elementReference>GET_Contact.Account.ERP_Market__c</elementReference>
            </value>
        </filters>
        <object>HCP_Portal_Directory__mdt</object>
        <outputReference>coll_sObj_HCPPortalDirectory</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Domain__c</queriedFields>
        <queriedFields>Portal_Brand__c</queriedFields>
        <queriedFields>Label</queriedFields>
        <queriedFields>Country__c</queriedFields>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>S01_Authorization_Records</name>
        <label>S01 Authorization Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>CHECK_Next_Step_Choice</targetReference>
        </connector>
        <fields>
            <name>S01_Authorization_Records_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>S01_Authorization_Records_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>S01_Datatable_Read</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Authorization__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Existing Salesforce Authorizations</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>NO_SELECTION</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>GET_Authorization_Records</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Brand_Account_Label__c&quot;,&quot;guid&quot;:&quot;column-556e&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Portal Brand&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Brand Account Label&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Website_Id__c&quot;,&quot;guid&quot;:&quot;column-5d8c&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Website&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Website Id&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Role_Permission_Names__c&quot;,&quot;guid&quot;:&quot;column-8404&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Role Permission Names&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Welcome_Email_Send_Datetime__c&quot;,&quot;guid&quot;:&quot;column-c338&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Welcome Email Send Datetime&quot;,&quot;type&quot;:&quot;customDateTime&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>S01_ch_NextStep</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <elementReference>ch_DeleteAuthorization</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>S01_ch_NextStep</leftValueReference>
                    <operator>EqualTo</operator>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>S01_Datatable_Select</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Authorization__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Existing Salesforce Authorizations</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>SINGLE_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>GET_Authorization_Records</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Brand_Account_Label__c&quot;,&quot;guid&quot;:&quot;column-da3c&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Portal Brand&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Brand Account Label&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Website_Id__c&quot;,&quot;guid&quot;:&quot;column-bcb5&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Website&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Website Id&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Role_Permission_Names__c&quot;,&quot;guid&quot;:&quot;column-a8f1&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Role Permission Names&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Welcome_Email_Send_Datetime__c&quot;,&quot;guid&quot;:&quot;column-768d&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Welcome Email Send Datetime&quot;,&quot;type&quot;:&quot;customDateTime&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>S01_ch_NextStep</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>ch_DeleteAuthorization</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>S01_ch_NextStep</name>
            <choiceReferences>ch_DeleteAuthorization</choiceReferences>
            <choiceReferences>ch_AddAuthrization</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Next Step</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>S02_Create_Record</name>
        <label>S02 Create Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>CHECK_Values</targetReference>
        </connector>
        <fields>
            <name>S02_Header</name>
            <fieldText>&lt;h1&gt;&lt;strong&gt;Create Remote Care Access&lt;/strong&gt;&lt;/h1&gt;&lt;h3&gt;Complete the steps below to assign roles and invite brand&lt;/h3&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Step_1_Select_Role</name>
            <fieldText>Step 1: Select Role</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Step_1_Select_Role_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Step_1_Select_Role_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>S02_ImageHCPAdmin</name>
                    <extensionName>flowruntime:image</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>imageName</name>
                        <value>
                            <stringValue>RemotecareHCBAdmin</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>horizontalAlignment</name>
                        <value>
                            <stringValue>center</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>imageHeight</name>
                        <value>
                            <stringValue>150px</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>imageWidth</name>
                        <value>
                            <stringValue>150px</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>s01_RoleTextAdmin</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;HCP Administrator&lt;/strong&gt;&lt;/p&gt;&lt;p&gt; • Access Remote Fitting &lt;/p&gt;&lt;p&gt; • Access HCP Admin Portal &lt;/p&gt;&lt;p&gt; • Create and manage users&amp;nbsp;&amp;nbsp;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Step_1_Select_Role_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>S02_ImageHCP</name>
                    <extensionName>flowruntime:image</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>imageName</name>
                        <value>
                            <stringValue>RemotecareHCPIcon</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>imageHeight</name>
                        <value>
                            <stringValue>150px</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>imageWidth</name>
                        <value>
                            <stringValue>150px</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>horizontalAlignment</name>
                        <value>
                            <stringValue>center</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>s01_RoleTextHCP</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;HCP&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt; • &lt;/span&gt;Access Remote Fitting only&lt;/p&gt;&lt;p&gt; • Cannot manage user&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Step_1_Select_Role_Column4</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>S02_Create_Record_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>S02_Create_Record_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>S02_Create_Record_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>S02_ch_Roles</name>
                    <choiceReferences>ADMIN</choiceReferences>
                    <choiceReferences>HCP</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Role</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>bottom</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>GET_Contact.Language__c</objectFieldReference>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>GET_Contact.Language__c</leftValueReference>
                            <operator>EqualTo</operator>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>GET_Contact.Email</objectFieldReference>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>GET_Contact.Email</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>S02_ErrorMessageLanguage</name>
                    <fieldText>&lt;h2 style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(244, 43, 13);&quot;&gt;Missing Language, please select a value.&lt;/span&gt;&lt;/h2&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>var_MissingError</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>S02_Create_Record_Section2_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>S01_Step_2_Select_Invite_Brand_Details</name>
            <fieldText>Step 2: Select Invite Brand Details</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>S01_Step_2_Select_Invite_Brand_Details_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>S02_DT_Websites</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>HCP_Portal_Directory__mdt</typeValue>
                    </dataTypeMappings>
                    <extensionName>flowruntime:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Select Invite Brand Details</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectionMode</name>
                        <value>
                            <stringValue>SINGLE_SELECT</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>minRowSelection</name>
                        <value>
                            <numberValue>1.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>coll_sObj_HCPPortalDirectory</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columns</name>
                        <value>
                            <stringValue>[{&quot;apiName&quot;:&quot;Label&quot;,&quot;guid&quot;:&quot;column-1b37&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Label&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Domain__c&quot;,&quot;guid&quot;:&quot;column-e274&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Domain&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Portal_Brand__c&quot;,&quot;guid&quot;:&quot;column-0587&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Portal Brand&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>shouldDisplayLabel</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxRowSelection</name>
                        <value>
                            <numberValue>1.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>S03_Delete_Site</name>
        <label>S03 Delete Site Access</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>GET_Authorization_Records</targetReference>
        </connector>
        <fields>
            <name>S03_text_Header</name>
            <fieldText>&lt;h1&gt;&lt;strong&gt;Confirmation of deletion&lt;/strong&gt;&lt;/h1&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>S03_text_DeleteMessage</name>
            <fieldText>&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Website authorization: &lt;/span&gt;&lt;strong&gt;{!S01_Datatable_Select.firstSelectedRow.Website_Id__c}&lt;/strong&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Deleted on integrated user: &lt;/span&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!GET_Contact.Email}.&lt;/strong&gt;&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>S04_ERROR</name>
        <label>S04 ERROR</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>S04_ErrorText</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;Status:&lt;/strong&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;  {!form_APIOutput_Status}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;Trace ID: &lt;/strong&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt; {!form_APIOutput_TraceId}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;Message:  &lt;/strong&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;{!form_APIOutput_Message}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GET_Contact</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <transforms>
        <name>Transform_Websites</name>
        <label>Transform_Websites</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Copy_1_of_HCP_Portal_Directories</targetReference>
        </connector>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <transformType>Map</transformType>
                <value>
                    <elementReference>GET_Authorization_Records[$EachItem].Website_Id__c</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <variables>
        <name>coll_sObj_HCPPortalDirectory</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>HCP_Portal_Directory__mdt</objectType>
    </variables>
    <variables>
        <name>recordid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SendCIAMRequestBody</name>
        <apexClass>ExternalService__CIAM_Sendx20CIAMx20Invitation_IN_body</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_MissingError</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_Role</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_SObj_Authorization</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Authorization__c</objectType>
    </variables>
</Flow>
